
body{margin:0;font-family:sans-serif;background:#f7efe2}
#welcome,#invite{min-height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center}
.center{text-align:center;z-index:5;padding:20px}
h1,h2{color:#7a1f1f}
button{padding:14px 28px;border:none;border-radius:30px;background:#b8860b;color:#fff;font-size:18px}
.doors{position:fixed;inset:0;pointer-events:none}
.door{
position:absolute;
top:0;
width:50%;
height:100%;

background-image:url('door-bg.jpg');
background-size: contain;
background-position:center;
background-repeat:no-repeat;

transition:2s;
}
.left{left:0}.right{right:0}
.open .left{transform:translateX(-100%)}
.open .right{transform:translateX(100%)}
#invite{display:none;padding:20px}
#invite img{max-width:95%;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.3)}
#countdown{margin:20px;font-size:22px;font-weight:bold}
.small-title{
    font-size:38px;
    font-weight:bold;
    margin-bottom:10px;

    background:linear-gradient(
        to bottom,
        #ffffff 0%,
        #ffb6ff 45%,
        #ff0033 100%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

  text-shadow:
    1px 1px 0 #ff0033;  
}

.main-title{
    font-size:72px;
    font-weight:bold;
    line-height:1.1;

    background:linear-gradient(
    to bottom,
    #ffffff,
    #ffd6ff,
    #ff0033
);

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

text-shadow:
    2px 2px 0 #ff0033;

    margin-bottom:30px;
}

#countdown{
    display:flex;
    gap:15px;
    justify-content:center;
    margin:30px 0;
    font-size:20px;
    font-weight:bold;
    color:#ffd700;
}
/* Mobile View */
@media screen and (max-width: 768px){

.small-title{
    font-size: 28px !important;
}

.main-title{
    font-size: 42px !important;
    line-height: 1.2;
    padding: 0 15px;
}

#countdown{
    font-size: 18px !important;
}

button{
    font-size: 16px;
    padding: 12px 24px;
}

.center{
    padding: 10px;
}

.door{
    background-size: cover;
    background-position: center;
}
}
@media screen and (max-width: 768px){

.small-title{
    font-size: 24px !important;
}

.main-title{
    font-size: 52px !important;
    line-height: 1.1;
    padding: 0 10px;
}

#countdown{
    font-size: 14px !important;
    display:flex;
    justify-content:center;
    gap:12px;
    flex-wrap:wrap;
}

button{
    font-size:16px;
    padding:12px 24px;
}

.center{
    padding:20px;
}
}
