*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    overflow-x:hidden;
    background:#f8f2e8;
}

/* FIRST PAGE */

#welcome{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
}

/* POSTER SPLIT */

.poster{
    position:fixed;
    left:0;
    width:100%;
    height:50%;

    background-image:url('door-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;

    transition:2s ease-in-out;
    z-index:1;
}

.top-half{
    top:0;
    background-position:top center;
}

.bottom-half{
    bottom:0;
    background-position:bottom center;
}

.open .top-half{
    transform:translateY(-100%);
}

.open .bottom-half{
    transform:translateY(100%);
}

/* CENTER CONTENT */

.center{
    text-align:center;
    position:relative;
    z-index:5;
    width:90%;
}

.small-title{

    font-size:34px;
    font-weight:bold;

    background:linear-gradient(
        to bottom,
        #ffffff,
        #ffd6ff,
        #ff0033
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-shadow:
        1px 1px 0 #ff0033;
}

.main-title{

    font-size:72px;
    font-weight:bold;
    line-height:1.1;

    margin-top:10px;

    background:linear-gradient(
        to bottom,
        #ffffff,
        #ffd6ff,
        #ff0033
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-shadow:
        2px 2px 0 #ff0033;
}

/* COUNTDOWN */

#countdown{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    gap:15px;

    margin:25px 0;

    color:#ffd700;
    font-size:18px;
    font-weight:bold;
}

/* BUTTON */

button{

    background:#b8860b;
    color:white;

    border:none;
    border-radius:40px;

    padding:14px 30px;

    font-size:18px;

    cursor:pointer;
}

/* SECOND PAGE */

#invite{

    display:none;

    min-height:100vh;

    justify-content:center;
    align-items:center;

    padding:20px;
}

#invite img{

    width:100%;
    max-width:900px;

    border-radius:15px;

    box-shadow:
    0 4px 20px rgba(0,0,0,.3);
}

/* MOBILE */

@media(max-width:768px){

    .small-title{
        font-size:22px;
    }

    .main-title{
        font-size:42px;
    }

    #countdown{
        font-size:14px;
        gap:10px;
    }

    button{
        font-size:16px;
        padding:12px 24px;
    }

}
